body{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

/* nav */
ul {
  list-style: none;
  padding: 0;
}

.navleft {
  width: 15%;
}

.navmiddle {
  width: 60%;
  display: flex;
}

.navright {
  width: 25%;
  display: flex;
}

.contanior-all {
  width: 100%;
  margin: auto;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex: 1;
  z-index: 4;
  /* opacity: 0.8; */
}

.logo img {
  width: 108px;
}

.logo {
  padding: 20px 100px 20px 50px;
}

.contanior-all>ul {
  /* width: 100%; */
  color: rgb(88, 62, 62);
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 70px;
  font-size: 20px;
  cursor: pointer;
}

.right-menu {
  display: flex;
  justify-content: space-between;
  width: auto;
  margin-right: 150px;
}

.right-menu li:hover {
  font-size: 20px;
}

.search {
  width: auto;
  background-color: white;
  opacity: 0.8;
  padding: 10px 20px;
  border-radius: 20px;
}

input:checked+.openb {
  display: flex;
}

.test {
  position: relative;
}

.openb {
  display: none;
  hover: none;
}

.openb>li:hover {
  background-color: black;
  color: white;

}

.right-menu>li {
  position: relative;
}

.right-menu>li>ul {
  transform: translate(-50%, 38px);
  position: absolute;
  left: 50%;
  flex-direction: column;
  gap: 5px;
}

.right-menu>li>ul>li {
  text-align: center;
  min-width: 100px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 20px;
}

.left-menu {
  width: auto;
  display: flex;
  align-items: center;
  gap: 50px;
}

/* 內容 */

.shop-top {
  background-color: rgb(239, 176, 48);
  height: 1080px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-top-left {
  width: 40%;
  height: 80%;
}

/* 輪播 */
html,
body {
  position: relative;
  height: 100%;
}

.swiper-slide {
  background: #3f1919;
  font-size: 32px;
  text-align: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 80%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  width: 80%;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
  border-radius: 30px;
  margin-bottom: 7px;
}

.mySwiper {
  height: 20%;
  width: 80%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.shop-top .space {
  width: 100%;
  position: relative;
}

.shop-top-right {
  width: 40%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-top-right .container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
}

.container-top {
  width: 100%;
}

.shop-top-right .container .title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
}

.shop-top-right .container .price {
  font-size: 32px;
  margin-bottom: 30px;
}

.shop-top-right .container .content {
  width: 100%;
  height: 300px;
  font-size: 32px;
}

.container-bot {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.quantity-selector {
  width: 100%;
  font-size: 32px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

#quantity {
  background-color: #fff;
  text-align: center;
  border: 4px solid rgb(85, 69, 69);
  border-radius: 10px;
  padding: 10px 60px;
}

.quantity-button {
  width: 36px;
  height: 36px;
  font-size: 28px;
  border: 3px solid rgb(85, 69, 69);
  border-radius: 50%;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy {
  border: 4px solid rgb(85, 69, 69);
  border-radius: 30px;
  font-size: 32px;
  font-weight: 700;
  padding: 20px 60px;
  cursor: pointer;
}

.buy:hover {
  background-color: rgb(85, 69, 69);
  color: white;
}

.shop-mid {
  background-color: rgb(255, 225, 92);
  width: 100%;
}

.shop-mid-top {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.shop-mid-top .button {
  background-color: wheat;
  width: calc(100% / 3);
  height: 100px;
  font-size: 36px;
  line-height: 100px;
  text-align: center;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  cursor: pointer;
  margin-top: 50px;
}

a {
  color: black;
  text-decoration: none;
}


.button-toggle:checked+.button {
  background-color: #3a3434;
  color: wheat;
}

.button-toggle {
  display: none;
}

.shop-mid-content {
  width: 100%;
  height: 1600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.content-page {
  width: 70%;
  height: 80%;
  margin: 100px;
  display: none;
}

#Product .img {
  background-size: cover;
  width: 100%;
  height: 600px;
  border-radius: 50px;
  margin-bottom: 50px;
}

#Product .img1 {
  background-image: url(../img/11.jpg);
}

#Product .img2 {
  background-image: url(../img/food_541246537-600x400.jpg);
}

#Preservation .text {
  width: 80%;
  height: 500px;
  font-size: 24px;
  padding: 10%;
}

#Preservation .img {
  background-image: url(../img/11.jpg);
  background-size: cover;
  width: 100%;
  height: 600px;
  border-radius: 50px;
}

#Notice .text {
  width: 80%;
  padding: 10%;
  font-size: 24px;
}


.shop-bot {
  background-color: rgb(239, 176, 48);
  width: 100%;
  height: 600px;
}

.recommend {
  width: 100%;
  height: 200px;
  text-align: center;
  font-size: 48px;
  line-height: 200px;
  font-weight: 700;
  color: white;
}

.shop-bot .space-out {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-bot .space {
  width: 80%;
  position: relative;
}

.mySwiper3 {
  width: 80%;
}

.shop-bot .swiper-slide {
  display: flex;
  justify-content: space-around;
  align-items: end;
  line-height: 2;
}

/* 設置箭頭的顏色 */
.top-next,
.top-prev {
  color: white;
}

.bot-next,
.bot-prev {
  color: white;
  transform: scale(2);
}

/* 頁面尾 */
footer {
  background-color: #2e2b21;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-content {
  width: 90%;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid white;
  padding: 20px 60px;
}

.footer-section {
  flex: 1;
}

.footer-section h3 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #f1f1f1;
}

.footer-section ul {
  width: auto;
  list-style-type: none;
  font-size: 20px;
  line-height: 2.5;
  padding: 0px 10px;
  border-left: 3px solid white;
}

.social-links {
  display: flex;
}

.social-links li {
  margin-right: 10px;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.social-links span {
  display: flex;
}

footer i {
  font-size: 28px;
  margin-right: 10px;
}

.social-links a:hover {
  color: #f1f1f1;
}

/* 底部版權區 */
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  padding: 30px 0px;
}

.footer-bottom p {
  margin: 0;
}