*,
#before,
#after {
  box-sizing: border-box;
}

i {
  color: black;
}

body {
  /* height: 5000px; */
  margin: 0;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}



a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px dashed transparent;
}

a:link, a:visited, a:hover{
  color:black;
}

/* 焦點(被關注)  */
ul a:focus {
  border: 1px dashed black;
}

ul a:focus span {
  border-bottom: 2px solid black;
}




.container-normal {
  width: 90%;
  margin: auto;
  max-width: 1600px;
}

@media (max-width:859px) {
  .container-normal {
    width: 100%;
    padding: 0 10px;
  }
}

.container-full {
  width: 100%;
  margin: auto;
  max-width: 1920px;
}

.w-100 {
  width: 100%;
  vertical-align: middle;
}

ul {
  /* background-color: aqua; */
  width: 100%;
  /* height: 100px; */
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

ul li a {
  /* background-color: brown; */
  width: auto;
  height: 100%;
  padding: 14px 10px;
}

ul li:hover span {
  border-bottom: 2px solid black;
}





nav {
  /* background-color: aqua; */
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

nav.container-normal {
  margin-bottom: 5px;
}

.logo {
  padding: 14px 6px 14px 10px;
}

@media (max-width:859px) {
  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.logo img {
  width: 108px;
  height: 22px;
}

.menu {
  display: flex;
}

.pc-menu {
  /* background-color: bisque; */
  width: 650px;
  height: 100%;
}

@media (max-width:859px) {
  .pc-menu {
    display: none;
  }
}

.func-menu {
  /* background-color: pink; */
  width: 350px;
  height: 100%;
  margin-left: auto;
  justify-content: flex-end;
  /* min-width: 212px; */
}

@media (max-width:859px) {
  .func-menu {
    width: 100%;
  }
}

.func-menu .ham-btn {
  display: none;
}

@media (max-width:859px) {
  .func-menu .ham-btn {
    display: flex;
  }
}

.func-menu .fa-magnifying-glass {
  transform: rotateY(180deg);
}

.func-menu .user i{

  font-size: 20px;
}

@media (max-width:859px) {
  /* search圖示推到左邊 */
  .func-menu .search {
    margin-right: auto;
  }
}

@media (max-width:1400px) {
  .func-menu .hide-text {
    display: none;
  }
}

@media (max-width:859px) {
  .func-menu .all-miscrosoft {
    display: none;
  }
}


/* #header{ */
/* background-color: blueviolet; */
/* width: 100%; */
/* height: 500px; */
/* margin-bottom: 100px;
} */

header.container-full {
  /* background-color: blueviolet; */
  /* width: 100%; */
  /* height: 500px; */
  margin-bottom: 100px;
  position: relative;
}

header .head-outer{
  /* background-color: #3e63c3; */
  width: 100%;
  height: 400px;
  padding: 50px 5%;

  position: absolute;
  left: 0;
  top:0;
}

@media (max-width:1084px) {
  header .head-outer{
    /* display: none; */
    position: absolute;
    /* left: 50%; */
    top: 80%;
    /* transform: translate(-50%, -50); */
  }
}

@media (max-width:859px) {
  header .head-outer{
    padding: 0;
  }
}


header .head-main {
  background-color: white;
  width: 40%;
  height: auto;
  padding: 40px;
  min-width: 400px;
  box-shadow: 0 .1875rem .4375rem 0 rgba(0,0,0,.13),0 .0625rem .125rem 0 rgba(0,0,0,.11);
}

@media (max-width:1084px) {
  header .head-main{
    width: 100%;
  }
}

header .new{
  background-color: rgb(255, 179, 0);
  width: 70px;
  height: 30px;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}

header .title{

}

header .context{
  width: auto;
  height: auto;
  padding-bottom: 20px;
}

header .bottom-btn{
  background-color: #2b4994;
  color: white;
  font-weight: bold;
  width: 80px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}



main {
  /* background-color:antiquewhite; */
  /* width: 100%; */
  /* height: 3000px; */
}

section {
  margin-bottom: 100px;
}

main.container-normal {
  /* margin-top: 100px; */
}

main section a {
  width: auto;
  height: auto;
}




section.three-choice {
  /* background-color:pink; */
  width: 100%;
  /* height: 300px; */

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section.three-choice .choice {
  /* background-color: bisque; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 40px;
}

section.three-choice .choice img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}


section.three-choice .choice span{
  color: blue;
  text-decoration: underline blue;
}




section.four-card {
  /* background-color:lightgreen; */
  width: 100%;
  /* height: 300px; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

section.four-card .card {
  /* background-color:blue; */
  width: calc((100% - 20px * 3) / 4);
  height: 480px;
  background-color: #fff;
  color: #000;
  box-shadow: 0 .1875rem .4375rem 0 rgba(0,0,0,.13),0 .0625rem .125rem 0 rgba(0,0,0,.11);
  position: relative;
  
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}


@media (max-width:1083px) {
  section.four-card .card {
    width: calc((100% - 20px) / 2);
  }
}

@media (max-width:576px) {
  section.four-card .card {
    width: 100%;
  }
}
section.four-card .card img {
  width: 100%;
}

section.four-card .card-content{
  flex: 1;
  padding:10px;
}
section.four-card .card .title{
}
section.four-card .card .text{
}

section.four-card .card-bottom{
  /* background-color: #ac1919; */
  height: auto;
  width: auto;
  position: absolute;
  bottom: 5%;
  padding: 10px;
  flex: 1;
}
section.four-card .card .card-bottom .btn{
  display: inline-block;
  background-color: #3e63c3;
  color: white;
  
  padding: 5px;
  /* border: dashed 3px red; */
  display: inline-block;
}

section.four-card .card .card-bottom .btn span {
  display: inline-block;
  /* display: block; */
  padding: 3px;
  border: 2px dashed transparent
  
}
section.four-card .card .card-bottom .btn:focus span{
  border: 2px dashed white;
}

section.four-card .card .card-bottom .btn:hover{
  background-color: #2b4994;
}





section.big-img {
  /* background-color:pink; */
  width: 100%;
  /* height: 500px; */
}

section.information {
  /* background-color:orange; */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}
section.information ul li{
  padding: 10px;
}

.follow img{
  width: 30px;
  height: 30px;
}
section .company{
  /* background-color: #2b4994; */
  margin-top: 20px;
}

.go-top {
  background-color: rgb(217, 201, 201);
  width: 120px;
  height: 30px;
  padding: 10px;

  position: sticky;
  bottom: 3%;
  left: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.go-top i{
  color: gray;
}


footer {
  background-color:lightgray;
  width: 100%;
  padding: 20px 0 30px;
}

footer ul li a {
  /* background-color: brown; */
  width: auto;
  /* height: 100%; */
  padding: 2px 0px;
}

footer ul a:focus span {
  border-bottom: 1px solid black;
}

footer ul li:hover span {
  border-bottom: 1px solid black;
}

footer .footer-menu {
  display: flex;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

footer .footer-menu ul {
  width: calc(100% / 6);
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width:1083px) {
  footer .footer-menu ul {
    width: calc(100% / 3);
  }
}

@media (max-width:576px) {
  footer .footer-menu ul {
    width: 100%;
  }
}

footer .footer-menu ul li {
  margin-bottom: 7px;
}


footer .footer-nav {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

footer .footer-nav-left {
  /* background-color:bisque; */
  width: 400px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

footer .footer-nav-right {
  /* background-color:pink; */
  width: 600px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
}




/* =========================漢堡====================== */
/* =================手機板menu=========  */


nav #ham-btn-switch:checked~.phone-menu {
  /* background-color: #0067b8; */
  display: flex;
}

nav .ham-samll i{
  padding: 10px;
  cursor: pointer;
  display: none;
}

@media (max-width:859px) {
  nav .ham-samll i{
    display: flex;
  }
}

nav .phone-menu {
  /* background-color: aqua; */
  background-color: #f2f2f2;
  width: 100%;
  /* height: 800px; */
  border-bottom: 2px solid black;

  /* position */
  position: absolute;
  left:0;
  top:100%;

  /* 內部排列 */
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: flex-start;
  display: none;

  z-index: 5;
}

nav .phone-menu li{
  width: 100%;
  /* height: 70px; */
  border: 1px solid #e6e6e6;
  font-size: 15px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav .phone-menu li a {
  width: 100%;
  padding: 20px 15px;
}
nav .ham-samll:hover span {
  /* background-color: #0067b8; */
  border: none;
}

nav ul.phone-menu:hover span {
  /* border-bottom:none; */
}
nav ul.phone-menu li:focus {
  border: 1px dashed black;
}

nav .phone-menu .sub-dropdown-menu {
  /* background-color: aquamarine; */
  width: 100%;
  border: 1px solid #e6e6e6;
  font-size: 15px;

  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
  display: none;
}
nav .phone-menu .sub-dropdown-menu li {
  border-left: none;
}

/* 有下拉的label */
.sub-switch+label {
  display: flex;
  width: 100%;
  height: 100%;
}

.sub-switch+label li {
  /* background-color: #0067b8; */
  /* width: 100%; */
  padding: 20px 15px;
  justify-content: space-between;
}

/* 選單的上拉、下拉的顯示與隱藏 */
/* 點擊要出現下拉選單、箭頭up */
.sub-switch:checked+label+.sub-dropdown-menu,
.sub-switch:checked+label li .fa-chevron-up {
  display: flex;
}

/* 箭頭up要隱藏，點擊下拉箭頭down要隱藏 */
.sub-switch+label li .fa-chevron-up,
.sub-switch:checked+label li .fa-chevron-down {
  /* background-color: red; */
  display: none;
}

/* ==========================輪播============================== */



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}