body {
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.progress-bar {
  display: flex;
  justify-content: center;
  width: 800px;
  margin-bottom: 50px;
  margin-left: 500px;
}

.progress-bar button {
  width: 500px;
  font-size: 18px;
  height: 75px;
  /* margin: 0 40px; */
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.active,
.progressbtn {
  background-color: rgb(88, 62, 62);
  color: white;
  border: none;
}

.submitbtn {
  background-color: white;
  border: 3px solid #333;
}

.remove-btn {
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px 10px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.back-btn,
.next-btn {
  font-size: 20px;
  width: 300px;
  padding: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-btn {
  background-color: white;
  color: #333;
  border-radius: 20px;
  border: 3px solid #333;
  text-align: center;
}

.next-btn {
  background-color: white;
  color: #333;
  border: 3px solid #333;
  border-radius: 20px;
  text-align: center;
}

.next-btn:hover,
.back-btn:hover {
  background-color: rgb(88, 62, 62);
  color: white;
  border: none;
}

.fa-solid {
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin-top: 30px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

a {
  font-size: 28px;
  text-decoration: none;
  color: black;
}

.banner {
  background-color: #ffcc3f;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: flex-end;

}

.img {
  width: 80%;
  height: 100%;
  background-image: url('https://via.placeholder.com/1500x500');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex;
}

.text-box {
  background-color: #ffcc3f;
  padding: 30px;
  border-radius: 0px 15px 15px 0px;
  width: 500px;
  height: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
}

.text-box .text-box-s {
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  /* opacity: 50%; */
  padding: 40px;
}

.text-box h2 {
  font-size: 28px;
  margin: 0;
}

.text-box p {
  font-size: 18px;
  line-height: 1.6;
  margin: 10px 0 0;
}

.section {
  background-color: #ffcc3f;
  padding: 20px 0px 0px 0px;
  display: flex;
  justify-content: center;
}

.nav-menu {
  width: 80%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  padding: 30px 0;
}

.line {
  border-bottom: 2px solid black;
  padding: 25px 0;
}

.nav-menu span {
  margin: 0 15px;
  font-weight: bold;
}

.nav-menu a:hover {
  color: #000000;
}

/* ---------------------------- */
/* 外層容器 */
.big-box {
  width: 100%;
  background-color: #ffcc3f;
  padding: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 進度條 */
.progress-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-section {
  margin-bottom: 20px;
  background-color: #FFEBCD;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.form-section h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;

}

input[type="radio"] {
  margin-right: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 80%;
  padding: 8px 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* ---------------------------------------- */
.out {
  background-color: rgb(202, 172, 53);
  /* width: 1920px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar {
  background-color: rgba(255, 255, 255, 0.5);
  width: 70%;
  font-size: 20px;
  text-align: center;
  /* padding: 20px 0px; */
}

.calendar .title {
  /* background-color: aqua; */
  /* width: 90%; */
  display: flex;
  justify-content: start;
  /* padding: 50px 5%; */
}

table {
  background-color: white;
  width: 70%;
  height: 700px;
  border-collapse: collapse;
  margin: auto;
  table-layout: fixed;
}

table,
th,
td {
  border: 1px solid rgb(145, 145, 145);
  padding: 20px;
}

tr span {
  font-size: 25px;
}

td {
  font-size: 25px;
  text-align: center;
  height: 50px;
}

.month-title {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0px 60px; */
}

.fa-solid {
  color: rgb(246, 246, 246);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.color-toggle {
  display: none;
}

label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

input:disabled+label {
  opacity: 0.5;
  color: gray;
}

/* 改變顏色 */
.color-toggle:checked+label {
  background-color: chocolate;
  color: white;
  border-radius: 50%;
}

.bottom .remark {
  /* background-color: antiquewhite; */
  width: 90%;
  text-align: justify;
  padding: 50px 10%;
  margin: auto;
}

/* -------------------------------------- */

footer {
  /* font-family: Arial, sans-serif; */
  background-color: #2e2b21;
  /* width: 1920px; */
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* padding: 40px 60px; */
}

.footer-content {
  /* background-color: rgb(72, 86, 98); */
  width: 90%;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid white;
  padding: 20px 60px;
}

.footer-section {
  /* background-color: aqua; */
  flex: 1;
}

.footer-section h3 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #f1f1f1;
}

.footer-section ul {
  /* background-color: aqua; */
  width: auto;
  list-style-type: none;
  font-size: 20px;
  line-height: 2.5;
  padding: 0px 10px;
  border-left: 3px solid white;
}

.social-links {
  display: flex;
}

.social-links li {
  margin-right: 10px;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.social-links span {
  display: flex;
}

footer i {
  font-size: 28px;
  margin-right: 10px;
}

.social-links a:hover {
  color: #f1f1f1;
}

/* 底部版權區 */
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  padding: 30px 0px;
}

.footer-bottom p {
  margin: 0;
}