/* nav */
ul {
  list-style: none;
  padding: 0;
}

.navleft {
  width: 15%;
}

.navmiddle {
  width: 60%;
  display: flex;
}

.navright {
  width: 25%;
  display: flex;
}

.contanior-all {
  width: 100%;
  margin: auto;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex: 1;
  z-index: 4;
  /* opacity: 0.8; */
}

.logo img {
  width: 108px;
}

.logo {
  padding: 20px 100px 20px 50px;
}

.contanior-all>ul {
  /* width: 100%; */
  color: rgb(88, 62, 62);
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 70px;
  font-size: 20px;
  cursor: pointer;
}

.right-menu {
  display: flex;
  justify-content: space-between;
  width: auto;
  margin-right: 150px;
}

.right-menu li:hover {
  font-size: 20px;
}

.search {
  width: auto;
  background-color: white;
  opacity: 0.8;
  padding: 10px 20px;
  border-radius: 20px;
}

input:checked+.openb {
  display: flex;
}

.test {
  position: relative;
}

.openb {
  display: none;
}

.openb>li:hover {
  background-color: black;
  color: white;

}

.right-menu>li {
  position: relative;
}

.right-menu>li>ul {
  transform: translate(-50%, 38px);
  position: absolute;
  left: 50%;
  flex-direction: column;
  gap: 5px;
}

.right-menu>li>ul>li {
  text-align: center;
  min-width: 100px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 20px;
}

.left-menu {
  width: auto;
  display: flex;
  align-items: center;
  gap: 50px;
}

/* footer */
footer {
  /* font-family: Arial, sans-serif; */
  background-color: #2e2b21;
  /* width: 1920px; */
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* padding: 40px 60px; */
}

.footer-content {
  /* background-color: rgb(72, 86, 98); */
  width: 90%;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid white;
  padding: 20px 60px;
}

.footer-section {
  /* background-color: aqua; */
  flex: 1;
}

.footer-section h3 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #f1f1f1;
}

.footer-section ul {
  /* background-color: aqua; */
  width: auto;
  list-style-type: none;
  font-size: 20px;
  line-height: 2.5;
  padding: 0px 10px;
  border-left: 3px solid white;
}

.social-links {
  display: flex;
}

.social-links li {
  margin-right: 10px;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.social-links span {
  display: flex;
}

footer i {
  font-size: 28px;
  margin-right: 10px;
}

.social-links a:hover {
  color: #f1f1f1;
}

/* 底部版權區 */
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  padding: 30px 0px;
}

.footer-bottom p {
  margin: 0;
}